.profile-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: #f0f2f5;
  padding: 20px;
}

.profile-card {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  border: 1px solid #ccc; /* Light grey border */
}

.profile-card::before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
  margin: -20px;
}

.profile-title {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}

.profile-content {
  display: flex;
  border-top: 2px solid #eee; /* Subtle top border for content division */
  /* gap: 1.5rem; */
}

.profile-image {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: .5rem;
}

.profile-image img {
  border-radius: 15px;
  object-fit: cover;
  height: 90%;
}

.profile-details {
  width: 67%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: white;
}

.detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee; /* Light grey horizontal border between details */
}
.detail-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.detail-value {
  font-size: 16px;
  color: #333;
  flex-grow: 1; /* Allows the value to take the remaining space */
}

.profile-rating {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.rating-label {
  margin-right: 10px;
}

@media (max-width: 1020px) {
  .profile-content {
    flex-direction: column;
  }

  .profile-image {
    width: 100%;
    height: 60% !important;
    padding: 2rem;
    margin: 0;
  }

  .profile-details {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 600px) {
  .profile-details {
    width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .profile-image {
    padding: 1rem;
  }
}
