/* Example of AppointmentsHistory.css */
.shadow-xl {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.border {
  border: 1px solid #e2e8f0;
}

.ant-table-cell.location {
  color: #333;
  padding: 8px;
}

.custom-table-cell .ant-table-cell {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
}
